DATABASE_URL="postgresql://sehatku_admin:sehatku_password_secure_2026@localhost:5432/sehatku_hms_db?schema=public"
PORT=3000
NODE_ENV=development
JWT_SECRET=sehatku_super_secret_jwt_key_2026_production_grade
JWT_EXPIRES_IN=1d
